# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app


GPS/OpenGLApplication/Debug
GPS/OpenGLApplication/ipch/openglapplication-4d605de1/openglapplication-d40cc5cf.ipch

GPS/OpenGLApplication/OpenGLApplication.sdf
GPS/OpenGLApplication/OpenGLApplication.sln
GPS/OpenGLApplication/OpenGLApplication.vcxproj
GPS/OpenGLApplication/.vs/OpenGLApplication/v14/.suo
GPS/OpenGLApplication/ipch/OPENGLAPPLICATION-7e3bb8b6/OPENGLAPPLICATION-a70ba6af.ipch
