# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app


GPS/OpenGLApplication/Debug
GPS/OpenGLApplication/ipch/openglapplication-4d605de1/openglapplication-d40cc5cf.ipch

GPS/OpenGLApplication/OpenGLApplication.sdf
GPS/OpenGLApplication/OpenGLApplication.sln
GPS/OpenGLApplication/OpenGLApplication.vcxproj
GPS/OpenGLApplication/.vs/OpenGLApplication/v14/.suo
GPS/OpenGLApplication/ipch/OPENGLAPPLICATION-7e3bb8b6/OPENGLAPPLICATION-a70ba6af.ipch

Sem6/SD/.idea
Sem6/IP/VehicleDetector/VehicleDetector/0000*
Sem6/IP/VehicleDetector/VehicleDetector/x64/*
Sem6/IP/VehicleDetector/VehicleDetector.sdf
Sem6/IP/VehicleDetector/VehicleDetector.sln
PRS/Proj/LicensePlateDetector/LicensePlateDetector.VC.db
PRS/Proj/LicensePlateDetector/.vs
PRS/Proj/LicensePlateDetector/LicensePlateDetector/Debug
PRS/Proj/LicensePlateDetector/LicensePlateDetector/img
PRS/Proj/LicensePlateDetector/LicensePlateDetector/x64
PRS/Proj/LicensePlateDetector/x64/Debug/
